# Gathering 收集

In [88]:
import numpy as np
import pandas as pd
import requests
import os

In [89]:
df=pd.read_csv('twitter-archive-enhanced.csv')

In [90]:
import json

tweet_list=[]

with open("tweet_json.txt", 'r') as f:
    for line in f.readlines():
        dic = json.loads(line)
        tweet_list.append({'id':dic['id'],'fav_count': dic[ "favorite_count"], 'retweet_count':dic["retweet_count"]})

tweet_df = pd.DataFrame(tweet_list, columns = ['id', 'fav_count', 'retweet_count'])

tweet_df.to_csv('tweet_count.csv', index=False)

In [91]:
url='https://raw.githubusercontent.com/udacity/new-dand-advanced-china/master/%E6%95%B0%E6%8D%AE%E6%B8%85%E6%B4%97/WeRateDogs%E9%A1%B9%E7%9B%AE/image-predictions.tsv'
response = requests.get(url)
#print(response)
with open(url.split('/')[-1],mode='wb') as file:
    file.write(response.content)

image_df=pd.read_csv('image-predictions.tsv',sep='\t')

In [92]:
df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [93]:
tweet_df.head()

                   id  fav_count  retweet_count
0  892420643555336193      39492           8842
1  892177421306343426      33786           6480
2  891815181378084864      25445           4301
3  891689557279858688      42863           8925
4  891327558926688256      41016           9721

In [94]:
image_df.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

# Assessing 评估

In [5]:
df.text[902]

'Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE'

In [6]:
df.name.value_counts()

None         745
a             55
Charlie       12
Oliver        11
Cooper        11
Lucy          11
Tucker        10
Lola          10
Penny         10
Winston        9
Bo             9
the            8
Sadie          8
Buddy          7
Toby           7
Daisy          7
Bailey         7
an             7
Oscar          6
Milo           6
Jax            6
Jack           6
Bella          6
Rusty          6
Scout          6
Stanley        6
Dave           6
Koda           6
Leo            6
Oakley         5
            ...
Charleson      1
Dudley         1
Anthony        1
Glacier        1
Rontu          1
Bookstore      1
Eazy           1
Andru          1
Karma          1
Shikha         1
Tassy          1
Fido           1
Freddery       1
Sonny          1
Harvey         1
Divine         1
Samsom         1
Livvie         1
Toffee         1
Tove           1
Traviss        1
Jonah          1
Harrison       1
Torque         1
Dutch          1
Flurpson       1
Beemo          1
Ralf           1
Kathmandu      1
Grizz          1
Name: name, Length: 957, dtype: int64

In [12]:
df.rating_denominator.value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [14]:
df.query('rating_denominator==0').text

313    @jonnysun @Lin_Manuel ok jomny I know you're e...
Name: text, dtype: object

In [15]:
df.text[313]

"@jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho"

In [8]:
df.rating_numerator.sort_values()

315        0
1016       0
2335       1
2261       1
2338       1
605        1
1446       1
1869       1
2091       1
2038       1
1940       1
1764       2
2310       2
1761       2
1920       2
2246       2
2237       2
2349       2
2326       2
2079       2
2305       3
1249       3
1898       3
1478       3
1692       3
2202       3
765        3
1928       3
1314       3
2183       3
        ...
866       14
83        14
291       15
285       15
55        17
1663      20
516       24
1712      26
763       27
1433      44
1274      45
1202      50
1351      60
340       75
695       75
1254      80
433       84
1843      88
1228      99
1635     121
1634     143
1779     144
902      165
290      182
1120     204
2074     420
188      420
189      666
313      960
979     1776
Name: rating_numerator, Length: 2356, dtype: int64

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [18]:
type(df.timestamp[0])

str

In [105]:
sum(df.tweet_id.duplicated())
sum(df.in_reply_to_status_id.isnull())

2278

In [112]:
print(df.query('retweeted_status_id != "NaN"').text)

19      RT @dog_rates: This is Canela. She attempted s...
32      RT @Athletics: 12/10 #BATP https://t.co/WxwJmv...
36      RT @dog_rates: This is Lilly. She just paralle...
68      RT @dog_rates: This is Emmy. She was adopted t...
73      RT @dog_rates: Meet Shadow. In an attempt to r...
74      RT @dog_rates: Meet Terrance. He's being yelle...
78      RT @rachel2195: @dog_rates the boyfriend and h...
91      RT @dog_rates: This is Coco. At first I though...
95      RT @dog_rates: This is Walter. He won't start ...
97      RT @dog_rates: This is Sierra. She's one preci...
101     RT @loganamnosis: Penelope here is doing me qu...
109     RT @dog_rates: This is Dawn. She's just checki...
118     RT @dog_rates: We only rate dogs. This is quit...
124     RT @dog_rates: Say hello to Cooper. His expres...
130     RT @rachaeleasler: these @dog_rates hats are 1...
132     RT @dog_rates: This is Jamesy. He gives a kiss...
137     RT @dog_rates: Here's a pupper before and afte...
146     RT @dog_rates: Say hello to Quinn. She's quite...
155     RT @dog_rates: "Good afternoon class today we'...
159     RT @dog_rates: Meet Lorenzo. He's an avid nift...
160     RT @tallylott: h*ckin adorable promposal. 13/1...
165     RT @dog_rates: Ohboyohboyohboyohboyohboyohboyo...
171     RT @dog_rates: Meet Winston. He knows he's a l...
180     RT @AaronChewning: First time wearing my @dog_...
182     RT @dog_rates: This is Luna. It's her first ti...
185     RT @Jenna_Marbles: @dog_rates Thanks for ratin...
194     RT @dog_rates: Meet George. He looks slightly ...
195     RT @frasercampbell_: oh my... what's that... b...
204     RT @dog_rates: I usually only share these on F...
211     RT @dog_rates: This is Astrid. She's a guide d...
                              ...
784     RT @dog_rates: After so many requests, this is...
794     RT @dog_rates: Meet Fizz. She thinks love is a...
800     RT @dog_rates: This is Gromit. He's pupset bec...
811     RT @dog_rates: This is Frankie. He's wearing b...
815     RT @katieornah: @dog_rates learning a lot at c...
818     RT @dog_rates: Here's a doggo blowing bubbles....
822     RT @dog_rates: This is just downright precious...
826     RT @dog_rates: Ever seen a dog pet another dog...
829     RT @dog_rates: When it's Janet from accounting...
833     RT @dog_rates: This is Nollie. She's waving at...
841     RT @dog_rates: We only rate dogs... this is a ...
847     RT @dog_rates: This is Colby. He's currently r...
860     RT @dog_rates: Meet Eve. She's a raging alcoho...
868     RT @dog_rates: "Tristan do not speak to me wit...
872     RT @dog_rates: Oh. My. God. 13/10 magical af h...
885     RT @hownottodraw: The story/person behind @dog...
890     RT @dog_rates: This... is a Tyrannosaurus rex....
895     RT @dog_rates: AT DAWN...\r\nWE RIDE\r\n\r\n11...
908     RT @dog_rates: This is Chompsky. He lives up t...
911     RT @jon_hill987: @dog_rates There is a cunning...
926     RT @dog_rates: This is Rubio. He has too much ...
937     RT @dog_rates: This is Carly. She's actually 2...
943     RT @dog_rates: HEY PUP WHAT'S THE PART OF THE ...
949     RT @dog_rates: Everyone needs to watch this. 1...
1012    RT @dog_rates: This pupper killed this great w...
1023    RT @dog_rates: This is Shaggy. He knows exactl...
1043    RT @dog_rates: Extremely intelligent dog here....
1242    RT @twitter: @dog_rates Awesome Tweet! 12/10. ...
2259    RT @dogratingrating: Exceptional talent. Origi...
2260    RT @dogratingrating: Unoriginal idea. Blatant ...
Name: text, Length: 181, dtype: object

df（twitter_archive）中共有2356条数据，其中: 
## 质量：
- name一栏有名称错误。  
- rating_denominator并非全部base 10.  
- 评级不完成正确
- timestamp不是时间日期格式
in_reply_to_status_id         78 non-null float64  
in_reply_to_user_id           78 non-null float64  
retweeted_status_id           181 non-null float64  
retweeted_status_user_id      181 non-null float64  
retweeted_status_timestamp    181 non-null object  
- 以上5列有大量缺失值
##  整洁度：
- doggo/floofer/pupper/puppo分类不应分为4列，而应在social_status列。

In [95]:
image_df.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [98]:
print(sum(image_df.tweet_id.duplicated()))
print(sum(image_df.jpg_url.duplicated()))

0
66

In [99]:
image_df.img_num.value_counts()

1    1780
2     198
3      66
4      31
Name: img_num, dtype: int64

In [113]:
image_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

## image_df

- 图片URL有66个重复
- 共2075行数据，少于df的2356条